.homepage-container {
    display: flex;
    margin: 50px;
    flex-wrap: wrap;
    background-color: rgb(233, 247, 201);
    border-radius: 30px;

  }
  
  .left-section {
    flex: 1;
    margin-left: 4.5rem;
    margin-top: 2.5rem;
  }
  
  .homepage-heading {
    text-transform: uppercase;
    font-size: 6rem;
    font-family: "Archivo Black", sans-serif;
    color: black;
    padding-left: 2rem;
    
  }
 
  .homepage-description {
    margin-top: 10px;
    margin-left: 2rem;
    font-size: 1.3rem;
    color: #555;
  }
  
  .right-section {
    flex: 1;
    display: flex;
    margin-left: 2.4rem;
  }
  
  .image {
    width: 35rem;
    height: 40rem;
    border-radius: 8px;
  }
  
  /* Responsive styling */
  @media (max-width: 768px) {
    .homepage-container {
      flex-direction: column;
      align-items: center;
    }
  
    .left-section {
      margin-right: 0;
      margin-bottom: 20px;
      text-align: center;
    }
  
    .homepage-heading {
      font-size: 1.2rem;
    }
  
    .homepage-description {
      font-size: 0.9rem;
    }
  
    .right-section {
      width: 100%;
    }
  }
  